
.navegacion a {


color: white;
font-size: 2rem;
text-decoration: none;

}



.imagen{
   
    
    background-position: center center; /*imagen al centro*/
    background-size: cover ;/*llenar la altura como el ancho*/
  height: 100vh;
}

.seis{
    background-image: url(../img/coronavirus5.jpg);
}

.dividir{

display: flex;
justify-content: space-between;
display: inline-block;

gap: 1.5rem;
}
.seccion  {
  margin-top: 2rem;
  margin-bottom: 2rem; /*separacion arriba y abajo con el contenedror seleccion*/
}
.contenedor{

  width: 95%;
  max-width: 90rem;
  margin: 0 auto;
  
  }
  .site-footer{
    background-color: #000000;
    margin: 0;
    
    
    
    }
    .seccion{
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin:0;
      
      }
      .contenedor-footer{
        padding: 2rem 0;
        display: flex;
        justify-content: space-between;
    
    
    }