
.imagen{
   
    
    background-position: center center; /*imagen al centro*/
    background-size: cover ;/*llenar la altura como el ancho*/
  height: 100vh;
}

.seis{
    background-image: url(../img/coronavirus5.jpg);
}


.dividir{
display: grid;
grid-template-columns: 20% 20% 20% 20% 20%;
gap: 1.5rem;



}

  