body{
	background-image: url(afro.jpg);
	background-size:1420px 1180px;
	font-family: "Arial";
	font-size: 18px;
	text-align: left;
	color: black;
	width: 100%;
     }



img{
  width: 220px;
  height: auto;
  border-radius: 40px;
  /*display: block;*/
  margin: auto;
  padding: 20px;
  border: 10px ;
  float: left;
}

h1,h2,h3{
   text-align: center;
   font-family: "Arial";
   text-shadow: 1px 1px 5px;
}

div{
  width: 100px;
}



h2{
	color:red ;
	font-size: 50px
}

h3{
  font-size: 35px;
  color: black;
}


/*div {
  background:#000000; 
  color: #fff
  width: 100%;
  font-size: 1em;
  margin: 20px, 50px;

}
*/
