*{
    font-family:"Book Antiqua";
    font-weight: normal;
    text-align: center;

}
body{
background-image: url(../ImgMiPaginaWeb/fondo.png);
background-attachment: fixed; 
/*Hola mundo :u*/
}
h2{
color: #FE2E64;
}
[id="datos"]{
color: #A9F5A9;
}
h3{
color: #DF7401;	
}
p{
color:#F5DA81;
text-align: left;
margin: 65px 65px;
}
h1{
color: #FF8000;
}
a{
color: #81BEF7;
}