body{
	color: white;
	min-width: 600px;
	margin: 0px;
}

.cabecera,.redes{
	text-align: center;
	background-color: darkblue;
	padding: 25px;
}

.redes > a > img{
	height: 50px;
	width: 50px;
}

.acercaDeMi > div{
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 20px;
	background-color: black;
	color: cyan;
	min-height: 400px;
	text-align: justify;
}

.acercaDeMi > div > p > img{
	height: 250px;
	width: auto;
	margin-right: 20px;
	float: left;
}

.acercaDeMi{
	padding-top: 30px;
	padding-bottom: 30px;
	background-image:url("../img/nebulosa.jpg");
	background-position: center;
	background-size: cover;
}

a{
	color: white;
}
