body{
	background-image:url("../img/android.jpg");
	background-position: center;
	background-attachment: fixed;
	color: white;
}

.cabecera,.redes{
	text-align: center;
	background-color: darkblue;
	padding-bottom: 20px;
}

.redes > a{
	color: white;
}
.redes > a > img{
	height: 50px;
	width: 50px;
}

.acercaDeMi > div{
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: justify;
	color: grey;
}
